@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&family=Roboto:wght@100;400;500;700&display=swap');

/* Root and Miscellaneous*/
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #272729;
    --color-offwhite: #cccccc;
    --color-grey__banner: #f5f5f7;
    --color-blue: rgba(10, 132, 255);
    --color-light-bg: #fbfbfd;
}

a {
    color: var(--color-blue);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
  }

ul {
    list-style-type: none;
}

.container {
    width: 100%;
}


/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-grey);
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    max-width: 80%;
}

.navbar-links .nav__light a{
    font-weight: 100;
    font-size: 0.8rem;
    margin-right: 3rem;
    color: var(--color-offwhite);
    text-decoration: none;
}

.navbar-links .nav__light a:hover{
    color: var(--color-white);
    transition: 0.9s;
}

/* Banner */
.banner__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--color-grey__banner);
}

.banner__wrap a {
    margin-left: 20px;
    text-decoration: none;
}

.banner__wrap a:hover{
    text-decoration: underline;
}

/* Main Article */
.main__wrap,
.lw__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.main__wrap-img-head,
.lw__wrap-img-head{
    width: 363px;
    height: 107px;
    margin-bottom: 15px;
}

.main__img {
    width: 679px;
    height: 450px;
}

.lw__img {
    width: 967px;
    height: 406px;
}

.img__callout-spacing {
    overflow: hidden;
    margin-top: 30px;
}

.main__anchors a,
.lw__anchors a,
.sl__anchors a{
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 20px;

}

.main__anchors a i,
.lw__anchors a i,
.sl__anchors a i {
    padding-left: 0.5rem;
}

.main__anchors a:hover,
.lw__anchors a:hover,
.sl__anchors a:hover{
    text-decoration: underline;
}

.sl__anchors {
    margin-top: 15px;
    text-align: center;
}

.bg__light {
    background: var(--color-light-bg);
}

.bg__dark{
    background: var(--color-black);
}

.air__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Two Element section */
.two__elem__section {
    display: flex;
    justify-content: space-around;
}

.section__header, 
.section__header i{
    font-size: 2.2rem;
    padding-top: 30px;
    margin-bottom: 10px;
}

.section__sub {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-grey);
}

.section__sub_red{
    font-size: 1.1rem;
    font-weight: 400;
    color: red;
}

.fp__wrap{
    text-align: center;
    width: 800px;
    margin-top: 60px;
}

.fp__img {
    width: 451px;
    height: 344px;
    margin-top: 30px;
}

.fp__img_mac {
  position: relative;
  top: 100px;
}

.fp__img_phone {
    width: 762px;
    height: 380px;
}

.fp__section_imgs{
    margin-top: 15px;
}

.te__anchors{
    margin-top: 10px;
}

.te__anchors a {
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 20px;
}

.te__anchors a i {
    padding-left: 0.5rem;
}

.te__anchors a:hover{
    text-decoration: underline;
}

/* Footer */
.bg__grey{
    background: var(--color-grey__banner)
}

.footer__wrap {
    width: 60%;
    margin: 0 auto;
}

.footer__text{
    color: var(--color-grey);
    font-weight: 100;
    justify-content: center;
}

.footer__links {
    display: flex;
}

.footer__columns {
    margin: 10px 15px;    
}

/* Mobile menu*/
.hamburger {
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: relative;
    background: none;
    border: none;
    z-index: 100;
    display: none;
}

.mobile-backgroundColor {
    background: var(--color-black)!important;
}

.hamburger__menu{
    background: var(--color-grey);
    padding: 10px;
    display: none;
}

.hamburger-top,
.hamburger-bot{
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background: var(--color-white);
    z-index: 101;
    transition: 0.9s;
}
/*Stacks lines on top of one another*/

.hamburger-bot {
    transform: translateY(8px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateX(4px) translateY(4px);
}
/* Gives rotation*/

.open .hamburger-bot{
    transform: rotate(-45deg) translateX(-4px) translateY(4px);
}
/* Gives rotation*/

.hamburger__logo-mid{
    color: var(--color-offwhite);
}

.mobile__menu {
    position: fixed;
    top: 25px;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.9s;
    margin-top: 10px;
}

.hidden {
    transform: translateY(-110%);
}
/* This pushes our div up*/

.no-scroll {
    overflow: hidden;
}

.mobile__list{
    display: flex;
    width: 85%;
    flex-direction: column;
    margin: 0px auto;
    font-weight: 100;
    
}

.nav__mobile:first-child{
    border: none;
}

.mobile__search-wrap {
    border-bottom: 1px solid var(--color-offwhite);
}

.mobile__search {
    width: 96%;
    margin: 15px auto;
    background: var(--color-grey);
    padding: 7px;
    border-radius: 0.5rem;
    border: none;
    display: flex;

}

.nav__mobile {
    border-top: 1px solid var(--color-offwhite);
    padding-top: 12px ;
    padding-bottom: 12px ;
}

.nav__mobile a{
    color: var(--color-offwhite);
    text-decoration: none;
}

/*Media queries*/
@media(max-width: 768px){
    .navbar{
        display: none;
    }
    
    .hamburger{
        display: block;
    }
    
    .hamburger__menu{
        display: flex;
        color: var(--color-black);
        justify-content: space-between;
    }
}