@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

/* Root and Miscellaneous*/
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #272729;
    --color-offwhite: #cccccc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
  }

ul {
    list-style-type: none;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-black);
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    padding: 1rem 3rem;
}

.navbar-links .nav__light a{
    font-weight: 100;
    font-size: 0.8rem;
    margin-right: 2rem;
    color: var(--color-offwhite);
    text-decoration: none;
    
}

.navbar-links .nav__light a:hover{
    color: var(--color-white);
    transition: 0.8s;
}

/* Mobile menu*/
.hamburger {
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: relative;
    background: black;
    border: none;
    z-index: 100;
    display: none;
}

.hamburger-top,
.hamburger-bot{
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background: var(--color-white);
    z-index: 101;
    transition: 0.5s;
}
/*Stacks lines on top of one another*/

.hamburger-bot {
    transform: translateY(8px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateX(4px) translateY(4px);
}
/* Gives rotation*/

.open .hamburger-bot{
    transform: rotate(-45deg) translateX(-4px) translateY(4px);
}
/* Gives rotation*/

.mobile__menu {
    position: fixed;
    top: 25px;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.hidden {
    transform: translateY(-100%);
}
/* This pushes our div up*/

.no-scroll {
    overflow: hidden;
}

/*Media queries*/
@media(max-width: 768px){
    .navbar{
        display: none;
    }
    
    .hamburger{
        display: block;
    }
}